<html>
<head>
<HTA:APPLICATION ID="AtomicRedTeam">
<script language="jscript">
        var c = "echo hello"; 
        new ActiveXObject('WScript.Shell').Run(c);
</script>
</head>
<body>
<script>self.close();</script>
</body>
</html>
